@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  3% { transform: rotate(5deg); }
  7% { transform: rotate(-5deg); }
  10% { transform: rotate(0deg); }
  13% { transform: rotate(5deg); }
  17% { transform: rotate(-5deg); }
  20% { transform: rotate(0deg); }
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.recommended {
  animation: wiggle 2s 3;
}

.class-container.recommended .panel-heading .glyphicon {
  font-size: 24px;
}

.item-btn {
  display: inline-block;
  width: 3em;
}

.item-thumb {
  max-width: 6em;
  padding: 0.5em;
}

.navbar {
  margin-bottom: 5px;
}

.progress-bar {
  min-width: 2em;
}

.progress {
  margin-bottom: 0;
}

.target > .panel-heading {
  background-color: yellow;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.slick-prev:before,
.slick-next:before {
  color: blue;
}

.slick-slider {
  margin: 0px 30px 30px;
}

.clusters .page {
  margin-right: 1em;
}
