@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  3% { transform: rotate(5deg); }
  7% { transform: rotate(-5deg); }
  10% { transform: rotate(0deg); }
  13% { transform: rotate(5deg); }
  17% { transform: rotate(-5deg); }
  20% { transform: rotate(0deg); }
}

@keyframes wiggleSmall {
  0% { transform: rotate(0deg); }
  3% { transform: rotate(.5deg); }
  7% { transform: rotate(-.5deg); }
  10% { transform: rotate(0deg); }
  13% { transform: rotate(.5deg); }
  17% { transform: rotate(-.5deg); }
  20% { transform: rotate(0deg); }
}

.recommendation-enter {
  opacity: 0.01;
}

.recommendation-enter.recommendation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  animation: wiggleSmall 2s 3;
}

.recommendation-leave {
  opacity: 1;
}

.recommendation-leave.recommendation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.test-question-recommendations {
  max-height: 350px;
  overflow-y: scroll;
}

/*
 * Hide the experiment progress bar during the tutorial because
 * react-joyride positioning is messed up.
 */
.experiment-tutorial .experiment-progress {
  display: none;
}

.dragging {
  opacity: 0.5;
}

.experiment .combined, .experiment .suggestions {
  position: absolute;
  top: 1.5em;
  bottom: 0;
  left: 0;
  right: 0;
}

.items-nav .exemplar {
  box-shadow: 5px 5px 5px #000
}

#left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 33.3%;
  overflow-y: scroll;
}

#center {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 33.3%;
  width: 33.3%;
  overflow-y: scroll;
}

#right {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 32%;
  overflow-y: scroll;
}

#left > div {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

#center > div {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

#right > div {
  margin-right: 5px;
  margin-left: 5px;
}

@media (min-height: 1080px) {
  /*
   * left (preview) column positioning
   */

  .absolute .current-item-preview {
    position: absolute;
    top: 50px;
    bottom: 280px;
    left: 0;
    right: 0;
  }

  .suggestions.absolute .current-item-preview {
    margin-bottom: 0 !important;
    bottom: 0px !important;
  }

  .absolute .unlabeled-items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .absolute .current-item-preview .similar-items {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .absolute .current-item-preview .similar-items {
    min-height: 215px;
  }

  .suggestions.absolute .current-item-preview .similar-items {
    margin-bottom: 0 !important;
    min-height: 225px !important;
  }

  .absolute .current-item-preview .item-large {
    position: absolute;
    top: 30px;
    bottom: 220px;
    left: 0px;
    right: 0px;
  }

  .absolute .current-item-preview .no-similar-items .item-large {
    bottom: 0px;
  }

  .absolute .current-item-preview .item-large .item-details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 50px;
    overflow-y: scroll;
  }

  /*
   * center column positioning
   */


  .labeled-column {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .labeled-column .label-yes {
    position: absolute;
    bottom: 66.8%;
    left: 0;
    right: 0;
    top: 0;
  }

  .labeled-column .label-maybe {
    position: absolute;
    bottom: 33.4%;
    left: 0;
    right: 0;
    top: 33.4%;
  }

  .labeled-column .label-no {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 66.8%;
  }

  .labeled-column .label-section > .panel-body {
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .labeled-column .label-section > div > .panel-heading {
    height: 35px;
  }

  .labeled-column .label-section .new-group {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .labeled-column .label-section .group-contents {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 70px;
    overflow-y: scroll;
  }

}

.labeled-column .label-section {
  margin-bottom: 15px;
}


.label-yes {
  /* border: #a1d76a 2px solid; */
  border: #276419 2px solid;
}

.label-yes > div > .panel-heading, .label-yes > .panel-heading {
  /*color: #3c763d; */
  color: white;
  /*
  background-color: #a1d76a;
  border-color: #a1d76a;
  */
  background-color: #276419;
  border-color: #276419;
}

.label-no {
  /* border: #e9a3c9 2px solid; */
  border: #8e0152 2px solid;
}

.label-no > div > .panel-heading, .label-no > .panel-heading {
  /* color: #a94442; */
  color: white;
  /*
  background-color: #e9a3c9;
  border-color: #e9a3c9;
  */
  border-color: #8e0152;
  background-color: #8e0152;
}

/*
 * override react-alert
 */

.css-6bx4c3 {
  text-transform: none !important;
  font-size: 14px !important;
  text-align: left !important;
}

/*
 * fix react-hotkeys blue outline
 * NOTE: Seems to still be an extra closing div.
 */
div[tabindex="-1"]:focus {
  outline: 0;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.combined .recommended.item-group {
  animation: wiggleSmall 2s 3;
}

.combined .recommended.item-large {
  animation: wiggleSmall 2s 3;
}

.large {
  font-size: 24px;
}

.item-group p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.less-padding > .panel-heading {
  padding: 4px !important;
}

.disabled {
  cursor: not-allowed;
}

.item-btn {
  width: 50px;
}

.item-btn .btn {
  border-width: 2px;
}

.item-btn .btn.active {
  border: 2px solid black;
}

.item-thumb {
  width: 6em;
  max-height: 150px;
  padding: 0px;
  overflow: hidden;
}

.unlabeled-items .item-thumb.labeled {
  position: relative;
}

.unlabeled-items .item-thumb.labeled img {
  opacity: 0.1;
}

.item-thumb.labeled .check-label {
  display: none;
}

.unlabeled-items .item-thumb.labeled .check-label {
  position: absolute;
  top: 0px;
  left: 1em;
  display: block;
}

.item-thumb img {
  background-color: #ffffff;
}

.navbar {
  margin-bottom: 5px;
}

.labeling-progress .progress-bar {
  min-width: 2em;
  background-color: #808080;
}

.labeling-progress .progress {
  margin-bottom: 5px;
}

.histogram .progress {
  margin: 1px 1em;
}

.alert.alert-danger {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #333;
}

.target {
  outline: 2px dotted red !important;
}

.target.over > .panel-heading, .target.over > div > .panel-heading, .target > div.over > .panel-heading, .target.over.btn, .target.over.fixed-target {
  background-color: yellow !important;
  color: #333;
}

.label-section .fixed-target {
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: #000;
  line-height: 100px;
  text-align: center;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 10px;
  z-index: 1;
}

.label-section .item-group {
  border-color: #ddd;
}

.label-section .item-group > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.label-section .item-group > .panel-heading .glyphicon-star {
  color: red;
}

.label-section .item-group {
}

.label-yes .fixed-target {
  left: 10px;
}

.label-maybe .fixed-target {
  left: 120px;
}

.label-no .fixed-target {
  left: 230px;
}

/* Hack to make bootstrap work when wrapping a panel-heading */
.panel-default > div > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.experiment-progress div {
  outline: 2px solid white;
  display: inline-block;
  background-color: #f5f5f5;
  color: #333;
  margin-bottom: 10px;
}

.experiment-progress div.selected {
  background-color: #333;
  color: white;
}

/*
 * override react-slick
 */

.slick-prev:before,
.slick-next:before {
  /* color: blue;*/
  color: #333;
}

.slick-slider {
  margin: 0px 30px 10px;
}

/*
.slick-dots {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
*/

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 1px;
}

.clusters .page {
  margin-right: 1em;
}

.btn-nohover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  cursor:default !important;
}

.btn-nohover:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* List groups in panels */
.panel > .list-group
{
  margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
  border-top-width: 0;
}

.item-large .table {
  margin-bottom: 0;
}

.zoomable {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/*
 * for react-image-lightbox
 */
.ReactModalPortal img {
  background-color: white;
}

/*
.instructions {
  border-radius: 25px;
  border: 3px solid lightpink;
  padding-bottom: 20px;
}
*/

.answers-summary-distribution {
  display: inline-block;
  /*width: 100px; */
  float: right;
  /*
  border-right: 2px solid #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: 1px solid #333;
  */
  margin-right: 2px;
}

.answers-summary-distribution > .unit {
  display: inline-block;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.answers-summary-distribution > .unit:first-child {
  border-left: 2px solid #333;
}

.answers-summary-distribution > .unit:last-child {
  border-right: 2px solid #333;
}
/*
 * Always show scrollbars
 */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
