@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  3% { transform: rotate(5deg); }
  7% { transform: rotate(-5deg); }
  10% { transform: rotate(0deg); }
  13% { transform: rotate(5deg); }
  17% { transform: rotate(-5deg); }
  20% { transform: rotate(0deg); }
}

@keyframes wiggleSmall {
  0% { transform: rotate(0deg); }
  3% { transform: rotate(.5deg); }
  7% { transform: rotate(-.5deg); }
  10% { transform: rotate(0deg); }
  13% { transform: rotate(.5deg); }
  17% { transform: rotate(-.5deg); }
  20% { transform: rotate(0deg); }
}

#left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 33.3%;
  overflow-y: scroll;
}

#center {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 33.3%;
  width: 33.3%;
  overflow-y: scroll;
}

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 33.3%;
}


/*
 * override react-alert
 */
.css-1vm9g5e, .css-hx30u2 {
  width: 50% !important;
}

.css-6bx4c3 {
  text-transform: none !important;
  font-size: 14px !important;
  text-align: left !important;
}

/*
 * fix react-hotkeys blue outline
 * NOTE: Seems to still be an extra closing div.
 */
div[tabindex="-1"]:focus {
  outline: 0;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.recommended.item-group {
  animation: wiggle 2s 3;
}

.recommended.item-large {
  animation: wiggleSmall 2s 3;
}

.large {
  font-size: 24px;
}

.item-group p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.panel-heading-less-padding {
  padding: 4px !important;
}

.disabled {
  cursor: not-allowed;
}

.item-btn {
  width: 3em;
}

.item-thumb {
  max-width: 6em;
  max-height: 10em;
  padding: 0px;
}

.unlabeled-items .item-thumb.labeled {
  position: relative;
}

.unlabeled-items .item-thumb.labeled img {
  opacity: 0.1;
}

.item-thumb.labeled .check-label {
  display: none;
}

.unlabeled-items .item-thumb.labeled .check-label {
  position: absolute;
  top: 0px;
  left: 1em;
  display: block;
}

.item-thumb img {
  background-color: #ffffff;
}

.navbar {
  margin-bottom: 5px;
}

.labeling-progress .progress-bar {
  min-width: 2em;
}

.labeling-progress .progress {
  margin-bottom: 5px;
}

.histogram .progress {
  margin: 1px 1em;
}

.target {
  outline: 2px dotted red !important;
}

.target.over > .panel-heading, .target.over > div > .panel-heading, .target > div.over > .panel-heading, .target.over.btn, .target.over.fixed-target {
  background-color: yellow;
}

.label-section .fixed-target {
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: #000;
  line-height: 100px;
  text-align: center;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 10px;
  z-index: 1;
}

.label-yes .fixed-target {
  left: 10px;
}

.label-maybe .fixed-target {
  left: 120px;
}

.label-no .fixed-target {
  left: 230px;
}

/* Hack to make bootstrap work when wrapping a panel-heading */
.panel-default > div > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.slick-prev:before,
.slick-next:before {
  color: blue;
}

.slick-slider {
  margin: 0px 30px 10px;
}

.clusters .page {
  margin-right: 1em;
}

.btn-nohover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  cursor:default !important;
}

.btn-nohover:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* List groups in panels */
.panel > .list-group
{
  margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
  border-top-width: 0;
}

.item-large .table {
  margin-bottom: 0;
}

.zoomable {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.instructions {
  border-radius: 25px;
  border: 3px solid lightpink;
  padding-bottom: 20px;
}
